[Unit]
Description=ttyjs
After=rpcbind.service
After=docker.service
After=mnt-lun0-media.mount
After=mnt-lun0-software.mount
Requires=docker.service
Requires=rpcbind.service
Requires=mnt-lun0-media.mount
Requires=mnt-lun0-software.mount

[Service]
TimeoutStartSec=0
Restart=always
KillMode=none
ExecStartPre=-/usr/bin/docker stop ttyjs
ExecStartPre=-/usr/bin/docker rm ttyjs
ExecStart=/usr/bin/docker run -v /mnt/lun0/software/docker/downloads/:/config:rw -v /mnt/lun0/media:/media:rw -p 3000:3000 --name=ttyjs nicholasvmoore/docker-ttyjs
ExecStop=/usr/bin/docker stop ttyjs

[Install]
WantedBy=multi-user.target