[Unit]
Description=ttyjs
After=rpcbind.service
After=docker.service
Requires=docker.service
Requires=rpcbind.service

[Service]
TimeoutStartSec=0
Restart=always
KillMode=none
ExecStartPre=-/usr/bin/docker stop ttyjs
ExecStartPre=-/usr/bin/docker rm ttyjs
ExecStart=/usr/bin/docker run -p 3000:3000 --name=ttyjs nicholasvmoore/docker-ttyjs
ExecStop=/usr/bin/docker stop ttyjs

[Install]
WantedBy=multi-user.target